body{
    font-family: Arial,sans-serif;
    background-color: #cec439;
    margin-right align-content: : 30%;
     
}
h1{
    color:aliceblue;
    font-size: 70px;
}

.img2 {float: right;}
.img3 {float: right;}